@use 'components/fonts';
@use 'components/search';
@use 'components/image';
@use 'components/nav';

body * {
  font-family: "Gilroy", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}