@use 'components/fonts' as *;
@use 'components/search' as *;
@use 'components/image' as *;
@use 'components/nav' as *;

body * {
  font-family: "Gilroy", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}